# Sanal ortam klasörünü hariç tutun
venv/
.env/

# Byte-compiled / cached / log dosyaları
__pycache__/
*.py[cod]
*.log

# Jupyter Notebook checkpoint dosyaları
.ipynb_checkpoints/

# Çıkış dosyaları
*.out

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db

# VS Code ayar dosyaları
.vscode/

# Python paket yönetim dosyaları
pip-log.txt
pip-delete-this-directory.txt

# Hugging Face model ve tokenizer cache dosyaları
cache/
*.cache/
transformers_cache/

# IDE ve diğer proje dosyaları
.idea/
*.iml

# Veri Dosyaları
*.txt

# BERT Model
_bert_tokenizer/
_bert_romeo_and_juliet/
_bert_romeo_and_juliet_model/
_bert_romeo_and_juliet_tokenizer/


# GTP Model
_gpt_tokenizer/
_gpt_romeo_and_juliet/
_gpt_romeo_and_juliet_model/
_gpt_romeo_and_juliet_tokenizer/